body{
    background-image: url(images/download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
#calculator{
    border: 1px solid black;
    width: 200px;
    border-radius: 5px;
    margin: auto;
    background-color: transparent;
    
}
#display{
    margin: 10px;
    width: 88%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(225, 223, 223);
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.button{
    background-color: rgb(225, 223, 223);
    width: 45px;
    height: 45px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}
.button:hover{
    background-color: rgb(107, 106, 106);
}